@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: #4caf50;
    --secondary-clr: #81c784;
    --background-clr: #f5f5f5;
    --text-clr: #212121;
    --card-background-clr: #ffffff;
    --nav-clr: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-clr);
  color: var(--text-clr);
}


/* create the app into a grid so that the nav bar is side by side with the main page */
.app-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-color: var(--secondary-clr);
}


.widget-container {
    display: flex;
    width: 100%;
    margin: 20px auto;
    justify-content: space-around;
    padding: 20px;
}