.sortOptions {
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.searchBar {
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.historyTable {
    width: 90%;
    border-collapse: collapse;
    background-color: var(--card-background-clr);
}

.historyTable th, .historyTable td {
    border: 1px solid var(--text-clr);
    padding: 1em;
}

.historyTable th {
    background-color: var(--secondary-clr);
}

.button {
    display: inline;
    width: 40%;
    margin: 0 10px;
    background-color: var(--secondary-clr);
    border: none;
    padding: 1em .5em;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: opacity(80%)
}

.deleteButton {
    background-color: #EB5E55;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto -20px;
    width: 50%;
}

.sortOptions {
    width: 40%;
    padding: 1em;
    border: 1px solid var(--text-clr);
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.searchBar {
    width: 55%;
    border: 1px solid var(--text-clr);
    padding: 1em;
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.searchBar:focus, .sortOptions:focus {
    border-color: var(--primary-clr);
    outline: none;
    box-shadow: 0 0 5px var(--primary-clr);
}